* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.pie-pagina{
    width: 100%;
    background-color: #D5E2F3;
}

.pie-pagina .grupo-1 {    /* Tamano del footer y columnas del grid */
    width: 100%;
    max-width: 3000px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 1rem 0rem;
}

.pie-pagina .grupo-1 .box figure{    /** Logo en footer **/
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width:  768px) {
    
.pie-pagina{
        width: 100%;
        background-color: #D5E2F3;
}


.pie-pagina .grupo-1 .box figure img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.pie-pagina .grupo-1 .box h2 {
    color: var(--negro);
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;

}
.pie-pagina .grupo-1 .box h3 {
    color: var(--negro);
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 0;
    font-size: 1rem;
    text-transform: uppercase;

}

.pie-pagina .grupo-1 .box p {
    color: var(--obscuro);
    margin-bottom: 10px;
    margin-right:10px;
    font-size: 1rem;
}


.whatsapp {
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    color: var(--negro);
    line-height: 55px;
    background-color: #f5f5f5;
    border-radius: 2rem;
    text-align: center;
    transition: 300ms ease;
}

.whatsapp:hover{
    color: #00bb2d;
}

.instagram {
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    color: var(--negro);
    line-height: 55px;
    background-color: #f5f5f5;
    border-radius: 2rem;
    text-align: center;
    transition: 300ms ease;

}

 .instagram:hover {
    color: #F85CD4;
}

.pie-pagina .grupo-2 {
    background-color: #365b77;
    padding: 5px 10px;
    text-align: center;
    color:var(--blanco);
}

}