* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #ffffff;
    font-family: 'Kanit', sans-serif;

}

.linea-vertical {
    border-left:  10px solid #021639;
    height: 109%;
    position: absolute;
    left: 90%;
    margin-left: -4px;
    top: 0px;

}


/* Pie de pagina y texto de presentacion*/

@media (max-width:  768px) {
    .linea-vertical {
        border-left:  10px solid #021639;
        height: 159%;
        position: absolute;
        left: 90%;
        margin-left: -4px;
        top: 0px;
    
    }
.pie-pagina{
            width: 100%;
            background-color: #D5E2F3;
    }
    
    
    .pie-pagina .grupo-1 .box figure img {
        width: 6rem;
        height: 6rem;
        margin-right: 6rem;
    }
    
    .pie-pagina .grupo-1 .box h2 {
        color: var(--negro);
        margin-bottom: 25px;
        margin-right: 20px;
        margin-left: 10px;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
    
    }
    .pie-pagina .grupo-1 .box h3 {
        color: var(--negro);
        margin-bottom: 30px;
        margin-right: 0;
        margin-left: 0;
        font-size: 1rem;
        text-transform: uppercase;
    
    }
    
    .pie-pagina .grupo-1 .box p {
        color: var(--obscuro);
        margin-bottom: 10px;
        margin-right:10px;
        font-size: 1rem;
    }
    
    
    .whatsapp {
        display:inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        margin-left: 20px;
        color: var(--negro);
        line-height: 55px;
        background-color: #f5f5f5;
        border-radius: 2rem;
        text-align: center;
        transition: 300ms ease;
    }
    
    .whatsapp:hover{
        color: #00bb2d;
    }
    
    .instagram {
        display:inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        margin-left: 20px;
        color: var(--negro);
        line-height: 55px;
        background-color: #f5f5f5;
        border-radius: 2rem;
        text-align: center;
        transition: 300ms ease;
    
    }
    
     .instagram:hover {
        color: #F85CD4;
    }
    
    .pie-pagina .grupo-2 {
        background-color: #365b77;
        padding: 5px 10px;
        text-align: center;
        color:var(--blanco);
    }
    
    } /*Termina MQ*/

.pie-pagina{
        width: 100%;
        background-color: #D5E2F3;
}


.pie-pagina .grupo-1 .box figure img {
    width: 6rem;
    height: 6rem;
    margin-right: 6rem;
}

.pie-pagina .grupo-1 .box h2 {
    color: var(--negro);
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;

}
.pie-pagina .grupo-1 .box h3 {
    color: var(--negro);
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 40px;
    font-size: 1rem;
    text-transform: uppercase;

}

.pie-pagina .grupo-1 .box p {
    color: var(--obscuro);
    margin-bottom: 10px;
    margin-right:10px;
    font-size: 1rem;
}
    
    
    .whatsapp {
        display:inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        margin-left: 20px;
        color: var(--negro);
        line-height: 55px;
        background-color: #f5f5f5;
        border-radius: 2rem;
        text-align: center;
        transition: 300ms ease;
    }
    
    .whatsapp:hover{
        color: #00bb2d;
    }
    
    .instagram {
        display:inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        margin-left: 20px;
        color: var(--negro);
        line-height: 55px;
        background-color: #f5f5f5;
        border-radius: 2rem;
        text-align: center;
        transition: 300ms ease;
    
    }
    
     .instagram:hover {
        color: #F85CD4;
    }
    
    .pie-pagina .grupo-2 {
        background-color: #365b77;
        padding: 5px 10px;
        text-align: center;
        color:var(--blanco);
    }

    .presentacion h1 {
        color: #000000;
        font-size: 19px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-right: 70%;
        text-align: center;
        text-transform: uppercase;
    }
    .presentacion p {
        font-size: 90%;
        color: #21293c;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 80%;
        text-align: left;
    }
    
    .presentacion h2 {
        font-size: 19px;
        color: #000000;
        margin-top: 80px;
        margin-bottom: 20px;
        margin-right: 67%;
        text-align: center;
        text-transform: uppercase;
    }
    
    .presentacion ul {
        margin-left: 12%;
        font-size: 90%;
    }
    
    .presentacion-2 h3 {
        background-color: #021639;
        display: flex;
        justify-content: center;
        font-size: 19px;
        font-weight: 700;
        color: var(--blanco);
        margin-top: 150px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    
    .presentacion-2 p {
        font-size: large;
        margin-bottom: 80px;
        color: #000000;
        margin-right: 100px;
        text-align: center;
    }

/*Cierre pie de pagina */

/*Texto de presentacion */

.presentacion h1 {
    color: #000000;
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 70%;
    text-align: center;
    text-transform: uppercase;
}
.presentacion p {
    font-size: 90%;
    color: #21293c;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 40%;
    text-align: left;
}

.presentacion h2 {
    font-size: 19px;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 67%;
    text-align: center;
    text-transform: uppercase;
}

.presentacion ul {
    margin-left: 12%;
    font-size: 90%;
}

.presentacion-2 h3 {
    background-color: #021639;
    display: flex;
    justify-content: center;
    font-size: 19px;
    font-weight: 700;
    color: var(--blanco);
    margin-top: 150px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.presentacion-2 p {
    font-size: large;
    margin-bottom: 80px;
    color: #000000;
    margin-right: 100px;
    text-align: center;
}

/* imagen sentadillla */

.presentacion img {
    width: 25%;
    height: 25%;
    margin-right: 10%;
    align-items: center;
    margin-top: 0%;
    float: right;
    border-radius: 5%;

}



