* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #ffffff;
    font-family: 'Kanit', sans-serif;

}

/*Texto de presentacion */

.presentacion h1 {
    color: #000000;
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 70%;
    text-align: center;
    text-transform: uppercase;
}
.presentacion p {
    font-size: 90%;
    color: #21293c;
    margin-bottom: 20px;
    margin-left: 12%;
    margin-right: 40%;
    text-align: left;
}

.presentacion h2 {
    font-size: 19px;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 67%;
    text-align: center;
    text-transform: uppercase;
}

.presentacion ul {
    margin-left: 12%;
    font-size: 90%;
}



.presentacion-2 p {
    font-size: large;
    margin-bottom: 30px;
    color: #000000;
    margin-right: 60px;
    text-align: center;
}

.presentacion-2 h3 {
    background-color: #021639;
    display: flex;
    justify-content: center;
    font-size: 19px;
    font-weight: 700;
    color: var(--blanco);
    margin-top: 100px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* imagen sentadillla */


.presentacion img {
    width: 20%;
    height: 25%;
    margin-bottom: 10px;
    margin-right: 10%;
    align-items: center;
    margin-top: 0%;
    float: right;
    border-radius: 5%;

}




