* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
    color: #021639;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.2rem;            
    font-weight: 500;
}

.grid-container {
    display: grid;
    /* column-gap: 10px; */
    /* row-gap: 10px; */
}


.marcas {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;            /** 1rem 0 10px **/
    font-weight: 500;
    background-image: linear-gradient( #012e46, rgba(0, 0, 0, 0.8));
    color: #f5f5f5;
    top: 0;
    border-top: 1px solid black;
    text-align: center;
}

/* Esto es la parte que tiene el texto y la imagen abajo del HUD*/
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 20%;
}

.col-1 h2 {
    font-size: 54px;
}

.col-1 h3 {
    font-size: 30px;
    color: #021639;
    font-weight: 100;
    margin: 0px 0 10px;
}

.col-1 p {
    font-size: 16px;
    color: #000000;
    font-weight: 100;
}

.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient( #0A6EBD, #A1C2F1 );
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    margin-top: 2.5%;
    position: relative;
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

.col-2 .main-image {
    width: 50%;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(rgba(2,22,57,0.9), #0A6EBD);
    border-radius: 40px 0 0 40px;
    height: 100%;
    width: 80%;
    z-index: -1;
}

/*BOTON CATALOGO*/

.catalogue img {
    width: 10px;
    margin-bottom: 10px;
}

.catalogue {
    text-align: center;
    color: #021639;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10%;
    width: 120px;
    height: 120px;
    background-color: #f5f5f5;
    transition: 0.3s;
    border:1px solid #0A6EBD;
}

.catalogue svg {
    margin-top: 10%;
}

.catalogue:hover {
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
    margin-left: 10%;
    border-radius: 40%;
    width: 120px;
    height: 120px;
    background-color:rgba(10, 110, 189, 0.8);
}

/* CIERRE BOTON CATALOGO */

/* MARCAS */

.marcas .grid-container {
    grid-template-columns: auto auto auto;
}

.marcas .grid-item > img {
    max-width: 100px;
}

@media screen and (max-width: 375px) {
    .marcas .grid-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 275px) {
    .marcas .grid-container {
        grid-template-columns: auto;
    }
}

* {
    box-sizing: border-box;
  }

  .column {
    float: left;
    padding: 10px;
    margin: auto;
    text-align: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

@media screen and (max-width:  768px) {
    
.row-marcas {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.row-marcas-bot {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.row-marcas-mid {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
}

* {
    box-sizing: border-box;
  }
  .column {
    float: left;
    padding: 10px;
    margin: auto;
    text-align: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
}

/*CIERRE MARCAS*/

.button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #f5f5f5;
    background-color: #1D5D9B;
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

.button img {
    width: 30px;
    display: none;
}

button:hover img {
    display: block;
}

button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    margin-top: 30px;
    width: 50%;
    height: 50%;
}
  
:root {
    --blanco:#ffffff;
    --negro: #000000;
    --obscuro: #212121;
    --gris: #DAD7D6;
    --grisobscuro: #757575;

}

/**Barra debajo del HUD**/ 


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #021639;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
    border-radius: 6px;
}


  /** DISENO MENU HAMBURGUESA y BARRA NAVEGACION **/

    li {
        list-style: none;
    }
    
    .nav a {
    color: var(--negro);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;

    }

    .nav a:hover {
        margin-top: 40%;
        background-color:rgba(10, 110, 189, 0.5);
        color: var(--negro);
        border-radius: 1rem; 
        transition: 2000ms ease;
    }

    header {
        position: relative;
        padding: 0 2rem;
    }

    .nav {
        width: 100%;
        height: 50px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .nav .logo {
        width: 5%;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1%;
    }

    .nav .nav-list {
        display: flex;
        gap: 2rem;
    }

    .nav .toggle-btn {
        font-size: 2rem;
        color: #000000;
        cursor: pointer;
        display: none;
    }

/* DROPDOWN MENU */
    .dropdown-menu{
        display: none;
        position: absolute;
        right: 2rem;
        top: 60px;
        height: 0;
        width: 300px;
        background-color: rgba(1, 46, 70, 0.6);
        backdrop-filter: blur(15px);
        border-radius: 20px;
        overflow: hidden;
        z-index: 1;
    }

    .dropdown-menu.open {
        height: 250px;
    }
    .dropdown-menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

@media screen and (max-width: 768px) {

    .dropdown-menu a {
        color: var(--blanco);
        margin: 1%;
    }

    .nav .nav-list {
        display: none;
    }

    .nav .logo {
        width: 10%;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1%;
    }

    .nav .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }


    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .main-image {
        width: 77%;

    }

    .color-box {
        transform: translateX(75px);
        width: 80%;
        right: 80px;
        margin-left: 150px;
        border-top-left-radius:30% ;
        border-bottom-left-radius:30% ;

    }

    .col-1 {
        flex-basis: 100%;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h2 {
        font-size: 15px;
    }

}

@media screen and (max-width: 576px){
    .dropdown-menu a {
        color: var(--blanco);
    }
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}
 

/** DISENO FOOTER Y BOTON CATALOGO **/
@media (max-width:  768px) {

.catalogue img {
    width: 10px;
    margin-bottom: 10px;
}

.catalogue {
    text-align: center;
    color: #000000;
    margin-left: 2%;
    cursor: pointer;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #f5f5f5;
    transition: 0.3s;
    border:1px solid #0A6EBD;
}

.catalogue svg {
    margin-top: 10%;
}

.catalogue:hover {
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
    margin-left: 0%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color:rgba(10, 110, 189, 0.8);
}

.pie-pagina{
    width: 100%;
    background-color: #D5E2F3;
}


.pie-pagina .grupo-1 .box figure img {
width: 6rem;
height: 6rem;
margin-right: 6rem;
}

.pie-pagina .grupo-1 .box h2 {
color: var(--negro);
margin-bottom: 25px;
margin-right: 20px;
margin-left: 10px;
font-size: 1rem;
text-transform: uppercase;
text-align: center;

}
.pie-pagina .grupo-1 .box h3 {
color: var(--negro);
margin-bottom: 30px;
margin-right: 0;
margin-left: 0;
font-size: 1rem;
text-transform: uppercase;

}

.pie-pagina .grupo-1 .box p {
color: var(--obscuro);
margin-bottom: 10px;
margin-right:10px;
font-size: 1rem;
}


.whatsapp {
display:inline-block;
text-decoration: none;
width: 45px;
height: 45px;
margin-left: 20px;
color: var(--negro);
line-height: 55px;
background-color: #f5f5f5;
border-radius: 2rem;
text-align: center;
transition: 300ms ease;
}

.whatsapp:hover{
color: #00bb2d;
}

.instagram {
display:inline-block;
text-decoration: none;
width: 45px;
height: 45px;
margin-left: 20px;
color: var(--negro);
line-height: 55px;
background-color: #f5f5f5;
border-radius: 2rem;
text-align: center;
transition: 300ms ease;

}

.instagram:hover {
color: #F85CD4;
}

.pie-pagina .grupo-2 {
background-color: #365b77;
padding: 5px 10px;
text-align: center;
color:var(--blanco);
}

}/* FINISH MQ*/

.pie-pagina{
    width: 100%;
    background-color:rgba(1, 46, 70, 1);
}

.pie-pagina .grupo-1 {    
    width: 100%;
    max-width: 3000px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 1rem 0rem;
}

.pie-pagina .grupo-1 .box figure{  
    width: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pie-pagina .grupo-1 .box figure img {
    width: 6rem;
    height: 3rem;
    margin-left: 140px;
}

.pie-pagina .grupo-1 .box h2 {
    color: var(--blanco);
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 0;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;

}
.pie-pagina .grupo-1 .box h3 {
    color: var(--blanco);
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    font-size: 1rem;
    text-transform: uppercase;

}
.pie-pagina .grupo-1 .box p {
    color: var(--blanco);
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 1rem;
}


.whatsapp {
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    margin-left: 1px;
    color: var(--negro);
    line-height: 55px;
    background-color:rgba(1, 46, 70, 1);
    border-radius: 2rem;
    text-align: center;
    transition: 300ms ease;
}

.whatsapp:hover{
    color: #00bb2d;
}

.instagram {
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    margin-left: 1px;
    color: var(--negro);
    line-height: 55px;
    background-color:rgba(1, 46, 70, 1);
    border-radius: 2rem;
    text-align: center;
    transition: 300ms ease;

}

 .instagram:hover {
    color: #F85CD4;
}

.pie-pagina .grupo-2 {
    background-color: #365b77;
    padding: 5px 10px;
    text-align: center;
    color:var(--blanco);
} 


/* CIERRA PIE DE PAGINA Y BOTON CATALOGO */

/** Inicio producto destacados **/

.color-product {
    text-align: center;
    font-size: 1.5rem;
    background-color: #012e46;
    color: var(--blanco);
    text-transform: uppercase;
    
}

.slider-frame {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    border-top: 1px solid var(--grisobscuro);
	width: 100%;
    height: auto;
	overflow: hidden;
    background-color: var(--blanco);


}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 600%;
    margin-bottom: 60px;
    margin-top: 60px;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    display: flex;
    justify-content: center;
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 40%;
    height: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* Cierre productos destacados */
