* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
    color: #021639;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.2rem;            
    font-weight: 500;
}


.marcas {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;            /** 1rem 0 10px **/
    font-weight: 500;
    background-image: linear-gradient(to left, rgba(2, 22, 57, 0.6), #233142);
    color: #f5f5f5;
    top: 0;
    border-top: 1px solid black;
    text-align: center;
}

/* Esto es la parte que tiene el texto y la imagen abajo del HUD*/
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 20%;
}

.col-1 h2 {
    font-size: 54px;
}

.col-1 h3 {
    font-size: 30px;
    color: #021639;
    font-weight: 100;
    margin: 0px 0 10px;
}

.col-1 p {
    font-size: 16px;
    color: #000000;
    font-weight: 100;
}

.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#e25348, rgba(215, 35, 35,0.1));
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .main-image {
    width: 50%;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(rgba(215, 35, 35, 0.5), #e25348);
    border-radius: 40px 0 0 40px;
    height: 100%;
    width: 80%;
    z-index: -1;
}

.catalogue img {
    width: 10px;
    margin-bottom: 10px;
}

.catalogue {
    text-align: center;
    color: #021639;
    cursor: pointer;
    margin-left: 10%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #f5f5f5;
    transition: 0.3s;
    border:2px solid #fa8072;
}

.catalogue svg {
    margin-top: 10%;
}

.catalogue:hover {
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
    margin-left: 10%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: linear-gradient(rgba(215, 35, 35, 0.5), #e25348);
}

.row-marcas {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.row-marcas-bot {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.row-marcas-mid {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
}

* {
    box-sizing: border-box;
  }

  
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    margin: auto;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  


button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #f5f5f5;
    background: linear-gradient(#e25348, rgba(215, 35, 35, 0.4));
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img {
    width: 30px;
    display: none;
}

button:hover img {
    display: block;
}

button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    margin-top: 30px;
    width: 50%;
    height: 50%;
}
  
:root {
    --blanco:#ffffff;
    --negro: #000000;
    --obscuro: #212121;
    --gris: #DAD7D6;
    --grisobscuro: #757575;

}

/**Barra debajo del HUD**/ 


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #021639;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
    border-radius: 6px;
}

  /** DISENO MENU HAMBURGUESA y Barra de navegacion **/

  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    background-color: #f5f5f5;
    box-shadow: 0 3px 1px -1px lightgray;
    z-index: 2;
}

.logo {
    max-width: 3rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-right:auto;
    margin-left:auto ;
}

.nav-list a {               /** Cambia de color la la barra de navegadores **/
    color: var(--negro);
    text-decoration: none;
    font-size: 1rem;            /** 1rem 0 10px **/
    font-weight: 500;
    padding: 0.7rem 2rem;
    
}

.nav-list li a:hover {           /**Usamos para crear el boton que cambia de color**/
    background-color:rgba(215, 35, 35, 0.1);
    color: var(--negro);
    border-radius: 0.4rem; 
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 768px) {

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .catalogue {
        text-align: center;
        color: #021639;
        cursor: pointer;
        margin-left: 20px;
        border-radius: 50%;
        background: #f5f5f5;
    }

    .catalogue svg {
        margin-top: 10%;
    }

    .catalogue:hover {
        text-align: center;
        color: #f5f5f5;
        cursor: pointer;
        margin-left: 20px;
        border-radius: 50%;
        background-color: grey;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .main-image {
        width: 77%;
    }

    .color-box {
        transform: translateX(75px);
    }

    .col-1 {
        flex-basis: 100%;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h2 {
        font-size: 15px;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        
        
}

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-list li a {
        color: #ecececec;
    
    }
}

/** diseno Footer **/

.pie-pagina{
    width: 100%;
    background-color: #D5E2F3;
}

.pie-pagina .grupo-1 {    /* Tamano del footer y columnas del grid */
    width: 100%;
    max-width: 3000px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 1rem 0rem;
}

.pie-pagina .grupo-1 .box figure{    /** Logo en footer **/
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (min-width:  768px) {
    
.pie-pagina .grupo-1 .box figure img {
    width: 6rem;
    height: 6rem;
    margin-left: 30rem;
}

.pie-pagina .grupo-1 .box h2 {
    color: var(--negro);
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;

}
.pie-pagina .grupo-1 .box h3 {
    color: var(--negro);
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 40px;
    font-size: 1rem;
    text-transform: uppercase;

}

.pie-pagina .grupo-1 .box p {
    color: var(--obscuro);
    margin-bottom: 10px;
    margin-left: 5rem;
    font-size: 1rem;
}
}

.whatsapp {
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    color: var(--negro);
    line-height: 55px;
    background-color: #f5f5f5;
    border-radius: 2rem;
    text-align: center;
    transition: 300ms ease;
}

.whatsapp:hover{
    color: #00bb2d;
}

.instagram {
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    color: var(--negro);
    line-height: 55px;
    background-color: #f5f5f5;
    border-radius: 2rem;
    text-align: center;
    transition: 300ms ease;

}

 .instagram:hover {
    color: #F85CD4;
}

.pie-pagina .grupo-2 {
    background-color: #495D76;
    padding: 5px 10px;
    text-align: center;
    color:var(--blanco);
}

/** Inicio producto destacados **/

.color-product {
    text-align: center;
    font-size: 2rem;
    padding-top: 5px;
    background-color: #021639;
    color: var(--blanco);
}

.slider-frame {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    border-top: 1px solid var(--grisobscuro);
	width: 100%;
    height: auto;
	overflow: hidden;
    background-color: var(--blanco);


}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 600%;
    margin-bottom: 60px;
    margin-top: 60px;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    display: flex;
    justify-content: center;
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 50%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* Cierre productos destacados */