body {
    background-color: #f5f5f5;
    font-family: 'Kenit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #021639;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    margin: auto;
    /*align items horizontally*/
    display: flex;
    /*spread objects*/
    justify-content: space-around;    
}

.btn {
    background-color: #021639;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    background-color: #f5f5f5;
    color: #021639;
    border: 1px solid #021639;
}

.image {
    margin-top: 30px;
    width: 50%;
    height: 50%;
    object-fit: cover;
}